<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" data-cname="" data-cbenet="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/place-order.css">
    <title>CheckOut Your Order</title>
</head>

<body>
    <div class="main-container">
        <div class="main-heading">CheckOut Your Order Details!</div>
        <div class="boxs-container">
            <div class="left">
                <div class="box-con">
                    <div class="box-bar-con">
                        <div class="box-heading">Your Personal Details</div>
                        <a href="/user/account" class="box-change acc-btn">Change</a>
                    </div>
                    <div class="user-details-con">
                        <div>
                            <span>Full-Name:</span>
                            <div id="name">
                            </div>
                        </div>
                        <div>
                            <span>Phone:</span>
                            <div id="phone">
                            </div>
                        </div>
                        <div>
                            <span>City:</span>
                            <div id="city">
                            </div>
                        </div>
                        <div>
                            <span>Address:</span>
                            <div id="address">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-con">
                    <div class="box-bar-con">
                        <div class="box-heading">Your Product<%= finalData.productData.length>1 ? 's' : '' %> Details
                        </div>
                        <div class="box-change edit">Edit</div>
                    </div>
                    <% finalData.productData.forEach(obj=> { %>
                    <div class="product-detail-con">
                        <div class="product-img">
                            <img src="<%= obj.productInfo.image %>" alt="">
                        </div>
                        <div class="product-details">
                            <div class="additional-details">
                                <div>
                                    <div class="product-name">
                                        <%= obj.productInfo.proName %>
                                    </div>
                                    <div class="orignal-price-con">
                                        <div class="pro-price">Rs. <%= obj.productInfo.proPrice %>
                                        </div>
                                        <% if (obj.productInfo.proDiscount!==0) { %>
                                        <div class="before-dis">Rs. <%= obj.productInfo.proOrignalPrice %>
                                        </div>
                                        <div class="pro-discount">-<%= obj.productInfo.proDiscount %>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <% if (obj.productInfo.customization) { %>
                                <div class="product-size-color product-size">
                                    Size: <div class="pro-size-select">
                                        <%= obj.productSize %>
                                    </div>
                                    <div class="select-cust-price size-price">
                                        = &nbsp;&nbsp; Rs. <%= obj.sizePrice %>
                                    </div>
                                </div>
                                <div class="product-size-color product-color">
                                    Color: <div class="pro-color-select" style="background: <%= obj.productColor %>;">
                                    </div>
                                    <div class="select-cust-price color-price">
                                        = &nbsp;&nbsp; Rs. <%= obj.colorPrice %>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <div class="mini-price-con">
                                <div class="pro-quantity"><span>Quantity:</span>
                                    <%= obj.productQuantity %>
                                </div>
                                <div class="pro-price total">
                                    Rs.
                                    <%= (obj.productInfo.proPrice + obj.sizePrice + obj.colorPrice) * obj.productQuantity %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
            </div>

            <div class="right">
                <div class="input-coupon-con">
                    <input class="input-coupon" type="text" name="coupon" placeholder="Enter Coupon Code Here...">
                    <button class="coupon-btn">Apply</button>
                </div>
                <div class="msg" id="couponMsg"></div>
                <div class="prices-con">
                    <div style="display: flex;flex-direction: column;gap: 5px;">
                        <div class="total-price" id="subTotalPrice" style="font-size: 20px;">SubTotal: Rs.
                            <%= finalData.totalPriceWithoutDelivery %></div>
                        <div class="price-detail delivery">Delivery Charges: <span>Rs.
                                <%= finalData.totalDeliveryCharges %></span></div>
                        <div class="total-price" id="totalPrice">Total Price: Rs.
                            <%= finalData.totalPriceWithoutDelivery + finalData.totalDeliveryCharges %>
                        </div>
                    </div>
                    <div class="coupon-con">
                        <div class="price-detail coupon-name">Coupon Name: <span>--</span></div>
                        <div class="price-detail coupon-bene">Coupon Save Upto: <span>--</span></div>
                        <div class="total-price-with-coupon"></div>
                    </div>
                    <div class="payment-con">
                        <div class="heading">Select Payment Method:</div>
                        <div class="pics">
                            <div class="payment-options active" data-UPM="Cash">
                                <img src="/assets/cash.png" alt="">
                            </div>
                            <div class="payment-options">
                                <img class="easypaisa" src="/assets/easypaisa.png" alt="">
                            </div>
                            <div class="payment-options">
                                <img class="jazzcash" src="/assets/jazzcash.png" alt="">
                            </div>
                        </div>
                        <div class="msg" id="orderMsg"></div>
                        <button>Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/common/at-start.js"></script>
    <script src="/js/place-order.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>