<!DOCTYPE html>
<html lang="en">

<head data-page="products">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/admin/manage-products.css">
    <link rel="stylesheet" href="/css/admin/admin-sidebar.css">
    <link rel="stylesheet" href="/css/common/user-admin-nav.css">
    <link rel="stylesheet" href="/css/admin/admin-search.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Admin - Manage Products</title>
</head>

<body>
    <div class="wrapper">
        <div class="side-nav-con">
        </div>
        <div class="content-con">
            <div class="show-products">
                <div class="search-con">
                    <input type="search" name="search" id="search" placeholder="Search Products..." />
                    <button id="search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="main-con">
                    <div class="filter-bar-con">
                        <div class="flex gap-2">
                            <div class="text"><i class="fa-solid fa-filter"></i> Filtered Items:
                                <span>(<%= products.length %>)</span></div>
                            <div class="select-btn">Select All</div>
                        </div>

                        <div class="filters">

                            <select id="ratingFilter">
                                <option value="all">Rating</option>
                                <option value="5">5★</option>
                                <option value="4-4.9">4★ - 4.9★</option>
                                <option value="3-3.9">3★ - 3.9★</option>
                                <option value="2-2.9">2★ - 2.9★</option>
                                <option value="1-1.9">1★ - 1.9★</option>
                                <option value="0-0.9">0★ - 0.9★</option>
                            </select>

                            <select id="discountFilter">
                                <option value="all">Discount</option>
                                <option value="100">100%</option>
                                <option value="90-99">90% - 99%</option>
                                <option value="80-89">80% - 89%</option>
                                <option value="70-79">70% - 79%</option>
                                <option value="60-69">60% - 69%</option>
                                <option value="50-59">50% - 59%</option>
                                <option value="40-49">40% - 49%</option>
                                <option value="30-39">30% - 39%</option>
                                <option value="20-29">20% - 29%</option>
                                <option value="10-19">10% - 19%</option>
                                <option value="0-9">0% - 9%</option>
                            </select>

                            <select id="priceFilter">
                                <option value="all">Prices</option>
                                <option value="0-1000">Under 1,000</option>
                                <option value="1000-3000">1,000 - 3,000</option>
                                <option value="3000-10000">3,000 - 10,000</option>
                            </select>

                            <select id="categoryFilter" required>
                                <option value="all">Categories</option>
                            </select>

                        </div>
                    </div>
                    <div class="new-btn-con">
                        <div class="btn discount-btn">Add Discount to Products</div>
                        <a href="/admin/manage-products/add-products" class="btn">Add New Products!</a>
                    </div>
                    <div id="productContainer" class="product-container">
                        <% products.reverse().forEach(product => { %>
                        <form data-product='<%- JSON.stringify(product) %>' action="/admin/manage-products/edit-product"
                            method="post" class="product-card form filter-pro active-card" id="<%= product._id %>">
                            <img src="<%= product.image %>" alt="Product" />
                            <div class="extra-pics">
                                <% for( let i = 0; i < product.galleryImages.length + 1; i++ ) { %>
                                <% if (product.galleryImages.length !== i) { %>
                                <div class="box">
                                    <img src="<%= product.galleryImages[i] %>" alt="Product">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                            width="24px" fill="#e3e3e3">
                                            <path
                                                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                                        </svg>
                                    </div>
                                </div>
                                <% } else { %>
                                <label for="images-upload-<%= product._id %>" class="box add-image-label">+</label>
                                <input type="file" name="galleryURLs" id="images-upload-<%= product._id %>"
                                    class="input-images" style="display: none;" multiple>
                                <% } %>
                                <% } %>
                            </div>
                            <span class="edit-info proName" data-info="proName"><%= product.proName %></span>
                            <div class="info">
                                <div>Added By:</div>&nbsp;
                                <span>
                                    <a href="/admin/manage-users/#<%= product.AddedBy %>">
                                        <%= product.AddedBy %>
                                    </a>
                                </span>
                            </div>
                            <div class="info">
                                <div>Product ID:</div>&nbsp;
                                <span id="product_id">
                                    <a href="/shop/<%= slugify(product.proName, { lower: true }) %>-<%= product._id %>">
                                        <%= product._id %>
                                    </a>
                                </span>
                            </div>
                            <div class="info">
                                <div>No. of Edits:</div>&nbsp;
                                <span><%= product.__v %></span>
                            </div>
                            <div class="info" data-info="proPrice">
                                <div>Price:</div>&nbsp;
                                <nav>Rs.</nav>
                                <span class="edit-info"><%= product.proPrice %></span>
                            </div>
                            <div class="info" data-info="proOrignalPrice">
                                <div>Without Dis... Price:</div>&nbsp;
                                <nav>Rs.</nav>
                                <span class="edit-info"><%= product.proOrignalPrice %></span>
                            </div>
                            <div class="info" data-info="proDiscount">
                                <div>Sale Discount:</div>&nbsp;
                                <span class="edit-info"><%= product.proDiscount %></span>
                                <nav>%</nav>
                            </div>
                            <div class="info" data-info="proCategory">
                                <div>Category:</div>&nbsp;
                                <span class="edit-info"><%= product.proCategory %></span>
                            </div>
                            <div class="info" data-info="proBuyer">
                                <div>Buyers:</div>&nbsp;
                                <span class="edit-info"><%= product.proBuyer %></span>
                            </div>
                            <div class="info" data-info="proNoOfReviews">
                                <div>Reviews:</div>&nbsp;
                                <span class="edit-info"><%= product.proNoOfReviews %></span>
                            </div>
                            <div class="info" data-info="proRating">
                                <div>Rating:</div>&nbsp;
                                <span class="edit-info"><%= product.proRating %></span>
                                <nav>⭐</nav>
                            </div>
                            <div class="info">
                                <div>Stock:</div>&nbsp;
                                <span class="value-btn edited-data" data-info="stock"
                                    style="color: <%= product.stock ? "#00bb00" : "#ff0000" %>;">
                                    <%= String(product.stock).charAt(0).toUpperCase() + String(product.stock).slice(1) %>
                                </span>
                            </div>
                            <div class="info">
                                <div>Customization:</div>&nbsp;
                                <span class="value-btn edited-data" data-info="customization"
                                    style="color: <%= product.customization ? "#00bb00" : "#ff0000" %>;">
                                    <%= String(product.customization).charAt(0).toUpperCase() + String(product.customization).slice(1) %>
                                </span>
                            </div>
                            <% if (product.customization) { %>
                            <div class="info">
                                <div>Sizes:</div>&nbsp;
                                <span class="down-btn" style="cursor: pointer;">(<%= product.sizeAndPrice.length %>)
                                    <i class="fa-solid fa-chevron-up">
                                        <div class="dropdown-options">
                                            <% product.sizeAndPrice.forEach((s_p)=>{ %>
                                            <div class="info cust-con">
                                                <div class="size-info edit-info"><%= s_p.size %></div>
                                                <nav style="display: flex; flex-shrink: 0;">= Rs.</nav>
                                                <span class="edit-info size-price"><%= s_p.price %></span>
                                            </div>
                                            <% }); %>
                                            <div class="add-rem-btns size">
                                                <button class="btns add">+</button>
                                                <button class="btns rem">-</button>
                                            </div>
                                        </div>
                                    </i>
                                </span>
                            </div>
                            <div class="info">
                                <div>Colors:</div>&nbsp;
                                <span class="down-btn" style="cursor: pointer;">(<%= product.colorAndPrice.length %>)
                                    <i class="fa-solid fa-chevron-up">
                                        <div class="dropdown-options">
                                            <% product.colorAndPrice.forEach((c_p)=>{ %>
                                            <div class="info cust-con">
                                                <div class="color-info edit-info" data-color="<%= c_p.color %>"
                                                    style="background: <%= c_p.color %>;">
                                                </div>
                                                <nav style="display: flex; flex-shrink: 0;">= Rs.</nav>
                                                <span class="edit-info color-price"><%= c_p.price %></span>
                                            </div>
                                            <% }); %>
                                            <div class="add-rem-btns color">
                                                <button class="btns add">+</button>
                                                <button class="btns rem">-</button>
                                            </div>
                                        </div>
                                    </i>
                                </span>
                            </div>
                            <% } %>
                            <div class=" btn-con">
                                <div class="btn edit-btn">Edit</div>
                                <div class="btn delete-btn">Delete</div>
                                <div class="btn save-btn">Save</div>
                                <div class="btn cancel-btn">Cancel</div>
                            </div>
                        </form>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/common/at-start.js"></script>
    <script src="/js/common/user-admin-nav.js"></script>
    <script src="/js/admin/manage-products.js"></script>
    <script src="/js/admin/admin-search.js"></script>
    <script src="/js/common/footer.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>