<!DOCTYPE html>
<html lang="en">

<head data-page="coupons">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/admin/manage-coupons.css">
    <link rel="stylesheet" href="/css/admin/admin-sidebar.css">
    <link rel="stylesheet" href="/css/common/user-admin-nav.css">
    <link rel="stylesheet" href="/css/admin/admin-search.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Admin - Manage Coupons</title>
</head>

<body>
    <div class="wrapper">
        <div class="side-nav-con">
        </div>
        <div class="content-con">
            <div class="show-coupons">
                <div class="search-con">
                    <input type="search" name="search" id="search" placeholder="Search Coupons..." />
                    <button id="search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="main-con">
                    <div class="filter-bar-con">
                        <div class="flex gap-2">
                            <div class="text"><i class="fa-solid fa-filter"></i> Filtered Items:
                                <span>(<%= coupons.length %>)</span></div>
                            <div class="select-btn">Select All</div>
                        </div>

                        <div class="filters">

                            <select id="ratingFilter">
                                <option value="all">Rating</option>
                                <option value="5">5★</option>
                                <option value="4-4.9">4★ - 4.9★</option>
                                <option value="3-3.9">3★ - 3.9★</option>
                                <option value="2-2.9">2★ - 2.9★</option>
                                <option value="1-1.9">1★ - 1.9★</option>
                                <option value="0-0.9">0★ - 0.9★</option>
                            </select>

                            <select id="discountFilter">
                                <option value="all">Discount</option>
                                <option value="100">100%</option>
                                <option value="90-99">90% - 99%</option>
                                <option value="80-89">80% - 89%</option>
                                <option value="70-79">70% - 79%</option>
                                <option value="60-69">60% - 69%</option>
                                <option value="50-59">50% - 59%</option>
                                <option value="40-49">40% - 49%</option>
                                <option value="30-39">30% - 39%</option>
                                <option value="20-29">20% - 29%</option>
                                <option value="10-19">10% - 19%</option>
                                <option value="0-9">0% - 9%</option>
                            </select>

                            <select id="priceFilter">
                                <option value="all">Prices</option>
                                <option value="0-1000">Under 1,000</option>
                                <option value="1000-3000">1,000 - 3,000</option>
                                <option value="3000-10000">3,000 - 10,000</option>
                            </select>

                            <select id="categoryFilter" required>
                                <option value="all">Categories</option>
                            </select>

                        </div>
                    </div>
                    <div class="new-btn-con">
                        <a href="/admin/manage-coupons/add-coupons" class="btn">Create New Coupons!</a>
                    </div>
                    <div id="couponContainer" class="coupon-container">
                        <% coupons.forEach(coupon => { %>
                        <div id="<%= coupon._id %>" class="coupon-box">
                            <div class="info-text">Coupon ID:&nbsp;
                                <span class="text coupon-id"><%= coupon._id %></span>
                            </div>
                            <div class="info-text">Version:&nbsp;
                                <span class="text"><%= coupon.__v %></span>
                            </div>
                            <div class="info-text" data-info="<%= coupon.Status %>">Coupon Status:&nbsp;
                                <span class="text status"
                                    style="color: <%= coupon.Status==true?"#00bb00":"#ff0000" %>;"><%= coupon.Status==true?"True":"False" %></span>
                            </div>
                            <div class="couponCode info-text" data-info="<%= coupon.couponCode %>">Coupon Code:&nbsp;
                                <span class="text txt edited-info"><%= coupon.couponCode %></span>
                            </div>
                            <div class="couponDiscount info-text" data-info="<%= coupon.couponDiscount %>">Coupon
                                Discount:&nbsp;
                                <span class="text num edited-info"><%= coupon.couponDiscount %></span>
                                <nav>%</nav>
                            </div>
                            <div class="couponLimit info-text" data-info="<%= coupon.couponLimit %>">Coupon Limit:&nbsp;
                                <span class="text num edited-info"><%= coupon.couponLimit %></span>
                            </div>
                            <div class="couponDescription info-text" data-info="<%= coupon.couponDescription %>">Coupon
                                Description:&nbsp;
                                <span class="text txt edited-info"><%= coupon.couponDescription %></span>
                            </div>
                            <div class="couponStartingDate info-text" data-info="<%= coupon.couponStartingDate %>">
                                Coupon
                                StartingDate:&nbsp;
                                <span class="text date edited-info"><%= coupon.couponStartingDate %></span>
                            </div>
                            <div class="couponEndingDate info-text" data-info="<%= coupon.couponEndingDate %>">Coupon
                                EndingDate:&nbsp;
                                <span class="text date edited-info"><%= coupon.couponEndingDate %></span>
                            </div>
                            <div class="info-text">Added By:&nbsp;
                                <span class="text">
                                    <a href="/admin/manage-users/#<%= coupon.AddedBy %>"><%= coupon.AddedBy %></a>
                                </span>
                            </div>
                            <div class="btn-con">
                                <div class="btn edit">Edit</div>
                                <div class="btn save">Save</div>
                                <div class="btn cancel">Cancel</div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/common/at-start.js"></script>
    <script src="/js/admin/manage-coupons.js"></script>
    <script src="/js/common/user-admin-nav.js"></script>
    <script src="/js/admin/admin-search.js"></script>
    <script src="/js/common/footer.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>