<!DOCTYPE html>
<html lang="en">

<head data-page="users">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/admin/admin-sidebar.css">
    <link rel="stylesheet" href="/css/admin/manage-users.css">
    <link rel="stylesheet" href="/css/admin/admin-search.css">
    <link rel="stylesheet" href="/css/common/logo.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Admin - Manage Users</title>
</head>

<body>
    <div class="wrapper">
        <div class="content-con">
            <div class="search-con">
                <input type="search" name="search" id="search" placeholder="Search Users..." />
                <button id="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="content">
                <div class="filter-bar-con">
                    <div class="info-text">
                        Total Users: <span>(<%= users.length %>)</span>
                    </div>
                </div>
                <div class="user-con">
                    <% users.forEach(user => { %>
                    <div id="<%= user._id %> <%= user.username %>" class="user-box">
                        <div class="left">
                            <div class="info-text">User ID: <span class="user-id"><%= user._id %></span></div>
                            <div class="info-text">UserName: <span><%= user.username %></span></div>
                            <div class="info-text">FullName: <span><%= user.fullname %></span></div>
                            <div class="info-text">Email: <span><%= user.email %></span></div>
                            <div class="info-text">Phone: <span><%= user.phone %></span></div>
                            <div class="info-text">City: <span><%= user.city %></span></div>
                            <div class="info-text">Address: <span><%= user.address %></span></div>
                        </div>
                        <div class="right">
                            <div class="info-text">Role:
                                <span class="down-btn">
                                    <div class="txt"><% if (user.isAdmin == true) { %>Admin<% } else { %>User<% } %></div>
                                    <i class="fa-solid fa-chevron-up">
                                        <div class="dropdown-options">
                                            <div class="btn click">Admin</div>
                                            <div class="btn click">User</div>
                                        </div>
                                    </i>
                                </span>
                            </div>
                            <div class="info-text">Allowed:
                                <% let obj = user.allowed; let ts = 0; let fs = 0 %>
                                <% Object.keys(obj).forEach((key) => { %>
                                <% if (obj[key] == true) { %>
                                <% ts++ %>
                                <% } else { %>
                                <% fs++ %>
                                <% } %>
                                <% }) %>
                                <span class="down-btn"><div class="allocation">(<%= ts %>/<%= fs %>)</div>
                                    <i class="fa-solid fa-chevron-up">
                                        <div class="dropdown-options">
                                            <% Object.keys(obj).forEach((key) => { %>
                                            <% let value = (obj[key].toString()).charAt(0).toUpperCase()+(obj[key].toString()).slice(1); %>
                                            <div class="info-text click"><%= key %>:
                                                <span class="tf"><%= value %></span>
                                            </div>
                                            <% }); %>
                                        </div>
                                    </i>
                                </span>
                            </div>
                            <div class="info-text">Orders:
                                <span class="down-btn">(<%= user.userOrders.length %>)
                                    <i class="fa-solid fa-chevron-up">
                                        <div class="dropdown-options">
                                            <% user.userOrders.reverse().forEach(order => { %>
                                            <a href="/admin/manage-orders#<%= order._id %>" class="info-text"
                                                style="width: 100%; justify-content: space-between;">
                                                <div style="display: flex; flex-shrink: 0;">
                                                    <div>Admin OID:</div>
                                                    <span><%= order._id %></span>
                                                </div>
                                                <div <% if (order.orderInfo.orderStatus == "Pending") { %>
                                                    style="color:var(--Accent)"
                                                    <% } else if (order.orderInfo.orderStatus == "Delivered") { %>style="color:#2f855a"
                                                    <% } else { %>style="color:#c53030" <% } %>>
                                                    <%= order.orderInfo.orderStatus %>
                                                </div>
                                            </a>
                                            <% }) %>
                                        </div>
                                    </i>
                                </span>
                            </div>
                            <div class="info-text">Wishes:
                                <span class="down-btn">(<%= user.userWishlist.length %>)
                                    <i class="fa-solid fa-chevron-up">
                                        <div class="dropdown-options">
                                            <% user.userWishlist.forEach(proId => { %>
                                            <a href="/admin/manage-products#<%= proId %>" class="info-text">Admin OID:
                                                <span><%= proId %></span>
                                            </a>
                                            <% }) %>
                                        </div>
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/common/loader.js"></script>
    <script src="/js/admin/admin-sidebar.js"></script>
    <script src="/js/admin/manage-users.js"></script>
    <script src="/js/admin/admin-search.js"></script>
    <script src="/js/common/footer.js"></script>
</body>

</html>