<!DOCTYPE html>
<html lang="en">

<head data-page="My Account">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/users/my-acc.css">
    <link rel="stylesheet" href="/css/users/user-sidebar.css">
    <link rel="stylesheet" href="/css/common/user-admin-nav.css">
    <link rel="stylesheet" href="/css/common/logout.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Manage Your Account - QuickCart</title>
</head>

<body>

    <div class="main-container">
        <div class="side-nav-con">
        </div>
        <div style="width: 100%;display: flex;flex-direction: column;">
            <div class="data-container personal-container">
                <div class="heading">Edit Your Personal Information</div>
                <div class="edit-con">
                    <form action="/user/updateProfilePic" method="POST" enctype="multipart/form-data"
                        id="profilePicForm">
                        <div class="edit-img-con">
                            <img src="<%= user.userImg %>" alt="user" />
                            <input type="file" name="file" id="fileInput" style="display: none;" />
                            <div class="pencil">
                                <i class="fa-solid fa-pencil"></i>
                            </div>
                        </div>
                    </form>
                    <div class="edit-btn"
                        style="opacity: .4;cursor: default;user-select: none;pointer-events: none;flex-direction: row;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#e3e3e3">
                            <path
                                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
                        </svg>
                        <div>Change Profile Information</div>
                    </div>
                </div>
                <div class="personal-detail-con">
                    <span
                        style="width: 80%;display: flex;justify-content: space-between; align-items: center; gap: 20px;">
                        <div class="personal-detail">
                            <div class="name">Name:</div>
                            <input type="text" class="value" style="cursor: text;" value="<%= user.fullname %>">
                        </div>
                        <div class="personal-detail">
                            <div class="name">Username:</div>
                            <input type="text" class="value" style="cursor: text;" value="<%= user.username %>">
                        </div>
                    </span>
                    <div class="personal-detail">
                        <div class="name">Phone Number:</div>
                        <input type="text" class="value" style="cursor: text;" value="<%= user.phone %>">
                    </div>
                    <div class="personal-detail">
                        <div class="name">City:</div>
                        <input type="text" class="value" style="cursor: text;" value="<%= user.city %>">
                    </div>
                    <div class="personal-detail">
                        <div class="name">Address:</div>
                        <input type="text" class="value" style="cursor: text;" value="<%= user.address %>">
                    </div>
                    <div style="width: 100%; display: flex; justify-content: flex-end;">
                        <div class="btns-err">
                            <div class="btns">
                                <button class="update-btn">Update</button>
                                <button class="cancel-btn">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/common/at-start.js"></script>
    <script src="/js/common/user-admin-nav.js"></script>
    <script src="/js/users/edit-my-acc.js"></script>
    <script src="/js/common/footer.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>