<!DOCTYPE html>
<html lang="en">

<head data-info="<%= success %>" data-page="My Account" data-gcp="<%= RECAPTCHA_SITE_KEY %>">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/users/my-acc.css">
    <link rel="stylesheet" href="/css/users/user-sidebar.css">
    <link rel="stylesheet" href="/css/common/user-admin-nav.css">
    <link rel="stylesheet" href="/css/common/new-pass.css">
    <link rel="stylesheet" href="/css/common/inputs.css">
    <link rel="stylesheet" href="/css/common/logout.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Manage Your Account - QuickCart</title>
</head>

<body>

    <div class="main-container">
        <div class="con"></div>
        <div class="side-nav-con">
        </div>
        <div class="data-con">
            <div class="data-container personal-container" id="personalContainer">
                <div class="heading">Your Personal Information</div>
                <div class="edit-con">
                    <form action="/user/updateProfilePic" method="POST" enctype="multipart/form-data"
                        id="profilePicForm">
                        <div class="edit-img-con">
                            <img src="<%= user.userImg %>" alt="user" />
                            <input type="file" name="file" id="fileInput" style="display: none;" />
                            <div class="pencil">
                                <i class="fa-solid fa-pencil"></i>
                            </div>
                        </div>
                    </form>
                    <div class="edit-btn">
                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#e3e3e3">
                                <path
                                    d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
                            </svg>
                            <div>Change Profile Information</div>
                        </div>
                    </div>
                </div>
                <div class="personal-detail-con">
                    <span
                        style="width: 100%;display: flex;justify-content: space-between; align-items: center; gap: 20px;">
                        <div class="personal-detail">
                            <div class="name">Name:</div>
                            <div class="value">
                                <%= user.fullname %>
                            </div>
                        </div>
                        <div class="personal-detail">
                            <div class="name">Username:</div>
                            <div class="value">
                                <%= user.username %>
                            </div>
                        </div>
                    </span>
                    <div class="personal-detail">
                        <div class="name">Email:</div>
                        <div class="value" id="mail"
                            style="display: flex;justify-content: space-between;flex-wrap: wrap;">
                            <div id="email"><%= user.email %></div>
                            <% if (user.emailVerified) { %>
                            <div class="badge verified" id="verifiedBtn">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                Verified
                            </div>
                            <% }else{ %>
                            <div class="badge unverified" id="unVerifiedBtn" title="Send Verification Email">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <circle cx="12" cy="12" r="9" stroke-width="2" />
                                    <line x1="12" y1="8" x2="12" y2="12" stroke-width="2" />
                                    <line x1="12" y1="16" x2="12" y2="16" stroke-width="2" />
                                </svg>
                                Unverified
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="personal-detail">
                        <div class="name">Phone Number:</div>
                        <div class="value">
                            <%= user.phone %>
                        </div>
                    </div>
                    <div class="personal-detail">
                        <div class="name">City:</div>
                        <div class="value">
                            <%= user.city %>
                        </div>
                    </div>
                    <div class="personal-detail">
                        <div class="name">Address:</div>
                        <div class="value">
                            <%= user.address %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-container password-container" id="change-password">
                <div class="heading">Change Password!</div>
                <div>
                    <div class="personal-detail pass">
                        <div class="name">Old Password:</div>
                        <div class="pass-con">
                            <input type="password" id="oldPass" class="value" style="cursor: text;">
                            <i class="fa-solid fa-eye eye"></i>
                        </div>
                    </div>
                    <div class="forgot-btn txt">Forget Password?</div>
                </div>
                <div class="personal-detail pass">
                    <div class="name">New Password:</div>
                    <div class="pass-con">
                        <input type="password" id="newPass" class="value" style="cursor: text;">
                        <i class="fa-solid fa-eye eye"></i>
                    </div>
                </div>
                <div class="personal-detail pass">
                    <div class="name">Confirm Password:</div>
                    <div class="pass-con">
                        <input type="password" id="confirmPass" class="value" style="cursor: text;">
                        <i class="fa-solid fa-eye eye"></i>
                    </div>
                </div>
                <div style="width: 100%; display: flex; justify-content: flex-end;">
                    <div class="btns-err">
                        <div id="message" class="message"></div>
                        <button class="change-pass">Change Password</button>
                    </div>
                </div>
            </div>
            <div class="data-container payment-container" id="change-payment">
                <div class="heading">Change Payment Information!</div>
                <p>On working...<br>Coming Soon</p>
            </div>
        </div>
    </div>

    <script src="/js/common/at-start.js"></script>
    <script src="/js/common/user-admin-nav.js"></script>
    <script src="/js/users/my-acc.js"></script>
    <script src="/js/common/footer.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>