<!DOCTYPE html>
<html lang="en">

<head data-page="My Orders">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/users/my-order.css">
    <link rel="stylesheet" href="/css/users/user-sidebar.css">
    <link rel="stylesheet" href="/css/common/user-admin-nav.css">
    <link rel="stylesheet" href="/css/common/empty.css">
    <link rel="stylesheet" href="/css/common/logout.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Manage Your Orders - YuuCart</title>
</head>

<body>

    <div class="main-container">
        <div class="side-nav-con">
        </div>
        <div class="content">
            <div class="page-head">
                <div>
                    <div class="page-title">My Orders</div>
                    <div class="page-sub">Track your purchases, view order details, and stay updated on delivery status
                    </div>
                </div>
            </div>
            <div>
                <div class="tab-bar">
                    <button class="tab activeTab" data-status="All">All
                        <span>(<%= user.userOrders.length %>)</span></button>
                    <button class="tab" data-status="Pending">Pending
                        (<%= user.userOrders.filter((order) => order.orderInfo.orderStatus === "Pending").length %>)
                    </button>
                    <button class="tab" data-status="Delivered">Delivered
                        (<%= user.userOrders.filter((order) => order.orderInfo.orderStatus === "Delivered").length %>)
                    </button>
                    <button class="tab" style="border-right: none;" data-status="Cancelled">Cancelled
                        (<%= user.userOrders.filter((order) => order.orderInfo.orderStatus === "Cancelled").length %>)
                    </button>
                </div>

                <div class="orders-con" id="orderCon">
                    <% if (user.userOrders.length !== 0) { %>
                    <% user.userOrders.reverse().forEach((order) =>{ %>
                    <div class="order-box" data-status="<%= order.orderInfo.orderStatus %>">
                        <%= order.userDetails.userId %>
                        <% order.orderData.productDetails.forEach((proDetail) =>{ %>
                        <div class="inner-con">
                            <a href="/shop/<%= slugify(proDetail.productName, {lower: true}) %>-<%= proDetail.productId %>"
                                class="img-box">
                                <img src="<%= proDetail.productImg %>" alt="Product Image">
                            </a>
                            <div class="order-product-info">
                                <h2><%= proDetail.productName %></h2>
                                <p class="price">Rs. <%= proDetail.productPrice %></p>
                                <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                                    <div class="add-info-con">
                                        <% if (proDetail.cutomizationStatus === true) { %>
                                        <% if (proDetail.productSize) { %>
                                        <p class="add-info info-box">Size: <%= proDetail.productSize %> = Rs.
                                            <%= proDetail.productSizePrice %></p>
                                        <% } %>
                                        <% if (proDetail.productColor) { %>
                                        <p class="add-info info-box">Color: <span class="color"
                                                style="background: <%= proDetail.productColor %>;"></span> = Rs.
                                            <%= proDetail.productColorPrice %></p>
                                        <% } %>
                                        <% } %>
                                        <p class="add-info">Quantity: <%= proDetail.productQuantity %></p>
                                    </div>
                                    <div style="display: flex;flex-direction: column;">
                                        <p class="add-info">Delivery Rs. <%= proDetail.deliveryCharges %></p>
                                        <p class="sub-total">SubTotal: Rs. <%= proDetail.subTotal %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        <div class="order-card-footer">
                            <div>
                                <div class="order-info">Order ID: <span><%= order.orderInfo._id %></span></div>
                                <div class="order-info">Order Time:
                                    <span>
                                        <% const d = new Date(order.orderInfo.orderDate);
                                        let date = d.toLocaleDateString("en-GB", {
                                            day: "2-digit",
                                            month: "short",
                                            year: "numeric"
                                        });

                                        let time = d.toLocaleTimeString("en-US", {
                                            hour: "2-digit",
                                            minute: "2-digit",
                                            hour12: true
                                        });
                                        time = time.replace("am", "AM").replace("pm", "PM");%>

                                        <%= `${date}, ${time}` %>
                                    </span>
                                </div>
                                <div class="order-info">Delivery Date: <span>---</span></div>
                                <div class="order-info">Payment Method:
                                    <span><%= order.orderInfo.PaymentMethod %></span></div>
                                <div class="order-info">Status: <span
                                        class="badge <% if (order.orderInfo.orderStatus === "Pending") { %>pending<% } else if (order.orderInfo.orderStatus === "Delivered") { %>delivered<% } else { %>cancelled<% } %>"><%= order.orderInfo.orderStatus %></span>
                                </div>
                            </div>
                            <div style="padding-right: 3px;">
                                <% if (order.orderData.couponName === null) { %>
                                <div class="total">Total Amount: <span>Rs.
                                        <%= order.orderData.finalPriceWithoutCoupon %></span>
                                </div>
                                <% }else{ %>
                                <div class="total"
                                    style="opacity: 0.4; font-size: 14px; cursor: default; user-select: none;">Total
                                    Amount: <span>Rs.
                                        <%= order.orderData.finalPriceWithoutCoupon %></span></div>
                                <div class="order-info">Coupon: <span><%= order.orderData.couponName %></span>
                                </div>
                                <div class="order-info">Benefit:
                                    <span><%= order.orderData.couponBeneT == "discount" ? order.orderData.couponBeneV + "%" : "Rs. " + order.orderData.couponBeneV %>
                                        OFF</span></div>
                                <div class="total">Total Amount: <span>Rs.
                                        <%= order.orderData.finalPriceWithCoupon %></span>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } else { %>
                    <div class="empty-con">
                        <img src="/assets/no-order.png" alt="Empty Wishlist" />
                        <h3>No Orders Yet</h3>
                        <p>You haven’t placed any orders. Start Exploring Now!</p>
                        <a href="/shop" class="explore-btn">Explore Shop</a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/common/at-start.js"></script>
    <script src="/js/common/user-admin-nav.js"></script>
    <script src="/js/users/my-orders.js"></script>
    <script src="/js/common/footer.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>