<!DOCTYPE html>
<html lang="en">

<head data-page="My Orders" data-img="<%= user.userImg %>" data-fullname="<%= user.fullname %>">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/users/my-order.css">
    <link rel="stylesheet" href="/css/users/user-sidebar.css">
    <link rel="stylesheet" href="/css/common/user-admin-nav.css">
    <link rel="stylesheet" href="/css/common/empty.css">
    <link rel="stylesheet" href="/css/common/logout.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Manage Your Orders - QuickCart</title>
</head>

<body>

    <div class="main-container">
        <div class="side-nav-con">
        </div>
        <div class="content-con">
            <div class="heading">Manage Your Orders</div>
            <div>
                <div class="tab-bar">
                    <button class="tab activeTab" data-status="All">All
                        <span>(<%= user.userOrders.length %>)</span></button>
                    <button class="tab" data-status="Pending">Pending
                        (<%= user.userOrders.filter((order) => order.orderInfo.orderStatus === "Pending").length %>)
                    </button>
                    <button class="tab" data-status="Delivered">Delivered
                        (<%= user.userOrders.filter((order) => order.orderInfo.orderStatus === "Delivered").length %>)
                    </button>
                    <button class="tab" style="border-right: none;" data-status="Cancelled">Cancelled
                        (<%= user.userOrders.filter((order) => order.orderInfo.orderStatus === "Cancelled").length %>)
                    </button>
                </div>

                <div class="orders-con" id="orderCon">
                    <% if (user.userOrders.length !== 0) { %>
                    <% user.userOrders.reverse().forEach((order) =>{ %>
                    <div class="order-box" data-status="<%= order.orderInfo.orderStatus %>">
                        <% order.productDetails.forEach((orderdetail) =>{ %>
                        <div class="inner-con">
                            <a href="/shop/<%= slugify(orderdetail.productName, {lower: true}) %>-<%= orderdetail.productId %>"
                                class="img-box">
                                <img src="<%= orderdetail.productImg %>" alt="Product Image">
                            </a>
                            <div class="order-product-info">
                                <h2><%= orderdetail.productName %></h2>
                                <p class="price">Rs. <%= orderdetail.basePrice %></p>
                                <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                                    <div class="add-info-con">
                                        <% if (orderdetail.productCustomizeStatus === true) { %>
                                        <p class="add-info info-box">Size: <%= orderdetail.productSize %> = Rs.
                                            <%= orderdetail.productSizePrice %></p>
                                        <p class="add-info info-box">Color: <span class="color"
                                                style="background: <%= orderdetail.productColor %>;"></span> = Rs.
                                            <%= orderdetail.productColorPrice %></p>
                                        <% } %>
                                        <p class="add-info">Quantity: <%= orderdetail.productQuantity %></p>
                                    </div>
                                    <% if (order.productDetails.length > 1) { %>
                                    <p class="sub-total">SubTotal: Rs. <%= orderdetail.subTotalPrice %></p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        <div class="order-card-footer">
                            <div>
                                <div class="order-info">Order ID: <span><%= order.orderInfo._id %></span></div>
                                <div class="order-info">Payment Method:
                                    <span><%= order.orderInfo.PaymentMethod %></span></div>
                                <div class="order-info">Date: <span><%= order.orderInfo.orderDate %></span></div>
                                <div class="order-info">Status: <span
                                        class="badge <% if (order.orderInfo.orderStatus === "Pending") { %>pending<% } else if (order.orderInfo.orderStatus === "Delivered") { %>delivered<% } else { %>cancelled<% } %>"><%= order.orderInfo.orderStatus %></span>
                                </div>
                            </div>
                            <div style="padding-right: 3px;">
                                <% if (order.productDetails[0].coupanName === "none") { %>
                                <div class="total">Total Amount: <span>Rs.
                                        <%= order.productDetails[0].totalBeforeCoupan %></span>
                                </div>
                                <% }else{ %>
                                <div class="total"
                                    style="opacity: 0.4; font-size: 14px; cursor: default; user-select: none;">Total
                                    Amount: <span>Rs.
                                        <%= order.productDetails[0].totalBeforeCoupan %></span></div>
                                <div class="order-info">Coupan: <span><%= order.productDetails[0].coupanName %></span>
                                </div>
                                <div class="order-info">Discount:
                                    <span><%= order.productDetails[0].coupanDiscount %></span></div>
                                <div class="total">Total Amount: <span>Rs.
                                        <%= order.productDetails[0].totalAfterCoupan %></span>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } else { %>
                    <div class="empty-con">
                        <img src="/assets/no-order.png" alt="Empty Wishlist" />
                        <h3>No Orders Yet</h3>
                        <p>You haven’t placed any orders. Start Exploring Now!</p>
                        <a href="/shop" class="explore-btn">Explore Products</a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/common/at-start.js"></script>
    <script src="/js/common/user-admin-nav.js"></script>
    <script src="/js/users/my-orders.js"></script>
    <script src="/js/common/footer.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>